---
name: examples
url: /examples
---

<div class="grid-container">
  <h1>This is Examples Page</h1>

  <style media="screen">
    .grid_eg {
      background-color: #CFDEEA;
    }
    .grid_eg .grid-content {
      background-color: #E6EEF4;
      border: 1px dashed #CFDEEA;
    }
  </style>

  <div class="grid-block grid_eg align-center">
    <div class="grid-content large-4 medium-6 small-12">
      <p>Example Content</p>
    </div>
    <div class="grid-content large-4 medium-6 small-12">
      <p>Example Content</p>
    </div>
    <div class="grid-content large-4 medium-6 small-12">
      <p>Example Content</p>
    </div>
    <div class="grid-content large-4 medium-6 small-12">
      <p>Example Content</p>
    </div>
  </div>

  <h3>Cards</h3>

  <div class="grid-block">

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-content large-4 medium-6 small-12">
      <div class="card">
        <img src="http://placekitten.com/g/400/200" alt="kitten" />
        <div class="card-divider">
          This is a header
        </div>
        <div class="card-section">
          <h4>Look at This Swag Card</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

  </div>

  <img zf-iconic="" icon="thumb" size="medium">


  <hr>

  <div zf-action-sheet="">
    <div zf-as-button="" title="I'm an Action Sheet"></div>
    <div zf-as-content="" position="top">
      <p>Tap to share</p>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Mail</a></li>
      </ul>
    </div>
  </div>


  <hr>

  <a class="large hollow button" href="#!/examples/child">Click to load child content</a>
  <div ui-view class="grid-content"></div>

</div>
